<div class="chat-header">
  <div class="chat-name">
    yabe's room0
  </div>
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main-chat">
  <div class="chat-box">
    <div class="chat-title">
      <div class="user-name">User</div>
      <div class="chat-days">2021/6/25(Fri) 18:23:30</div>
    </div>
    <div class="chat-message">お腹すいたよん</div>
  </div>

  <div class="chat-box">
    <div class="chat-title">
      <div class="user-name">切島</div>
      <div class="chat-days">2021/6/25(Fri) 18:26:30</div>
    </div>
    <div class="chat-message">漢気一筋ど根性</div>
  </div>
</div>

<div class="chat-form">
  <form class="message-form">
    <input type="text" placeholder="type a message" class="comment-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
  </form>
  <input type="submit" value="送信" class="send">
</div>
