<div class="side-header">
  <div class="side-name">
    <a href="#">User</a>
  </div>
  <div class="side-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-room">
  <div class="rooms">
    <div class="room-name">
     <a href="#">yabe's room1</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room-name">
     <a href="#">yabe's room2</a>
    </div>
  </div>
</div>
