<div class="side-header">
  <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-room">
  <div class="rooms">
    <div class="room-name">
     <a href="#">yabe's room1</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room-name">
     <a href="#">yabe's room2</a>
    </div>
  </div>
</div>
